.table-header {
    background: #245f88;

    th, svg {
        color: #ffffff !important;
        font-weight: bold;
        span {
            color: inherit !important;
            &:hover {
                color: inherit;
            }
        }
    }

    .hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1;
        margin: -1;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 20;
        width: 1;
    }
}